body {
    margin: 0;
}

.container-content {
    position: absolute;
    top: 90px;
    left: 232px;
}

.impressum {
    padding-left: 120px;
    padding-right: 16px;
}

.container-impressum {
    display: flex;
    justify-content: center;
}







@media (max-width: 850px) {
    .container-content {
        left: 0;
        top: 104px;
        padding-bottom: 120px;
    }

    .impressum {
        padding-left: 16px;
        text-align: center;
    }

}