body {
    margin: 0;
}

.container-content {
    position: absolute;
    top: 90px;
    left: 232px;
}








@media (max-width: 850px) {
    .container-content {
        left: 0;
        top: 104px;
    }
}