header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-content {
    width: calc(95% - 232px);
}

.container-search-and-add-task {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-input-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 21px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    gap: 10px;
    background-color: #FFF;

}

.container-img-input-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

}

.search_input_board {
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: black;
}

.search_input_board:focus {
    outline: none;
}

.search_input_board::placeholder {
    color: #D1D1D1;
}

.img-lens-board {
    width: 28px;

}

.img-lens-board:hover {
    cursor: pointer;
    scale: 1.1;
}

.buttons-right-side-header-board {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.btn-add-task-header-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 18px 12px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.btn-add-task-header-board:hover {
    cursor: pointer;
    scale: 1.03;
}

.btn-plus-row-status-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #2A3647;
}

.btn-plus-row-status-board:hover {
    cursor: pointer;
    scale: 1.05;
}

.container-rows-board {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding-left: 32px;
    padding-top: 48px;

}

.row-status-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 25%;
    padding: 4px 8px;
}

.headline-row-status-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.headline-status-board {
    color: #2A3647;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

